@import "../../../css/constants";

.sideBar {
  > div {
    margin-bottom: 2rem;
  }

  @media (max-width: $smallPixelSize) {
    > div:nth-child(3), > div:nth-child(5) {
      display: none;
    }
  }
}