@import "../../../../../css/colors";
@import "../../../../../css/fonts";
@import "../../../../../css/constants";


.wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  padding: 0.5rem;
  font-size: 0.9rem;
  color: $DarkerGray;
  @extend .CondensedLightFont;
  @media (max-width: $smallPixelSize) {
    grid-template-columns: 3fr 5fr;
  }
}