@import "../../../../css/colors";
@import "../../../../css/fonts";
@import "../../../../css/constants";

.wrap {
  @extend .CondensedLightFont;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  color: $DarkGray;
  @media (max-width: $mediumPixelSize) {
    padding: 0 1rem;
  }

  > div {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.name {
  font-size: 2.4rem;
}

.category {
  color: $SubHeaderGray;
  font-size: 0.925rem;
  //margin: 0.5rem 0 1rem 0;
}

.ratingBlock {

}

.description {
  text-align: justify;
}

.priceBlock {
  display: flex;
  align-items: baseline;
}

.price {
  font-size: 2rem;
}

.oldPrice {
  margin-left: 0.75rem;
  color: $SubHeaderGray;
  font-size: 1.4rem;
  text-decoration: line-through;
}

.addToCartBlock {

}

.id {
  font-size: 0.95rem;

  > span:nth-child(2) {
    margin-left: 0.25rem;
    font-weight: bold;
  }

}

.shareBlock {

}