@import "../../../../css/colors";
@import "../../../../css/fonts";

.button {
  font-size: inherit;
  display: flex;
  border-radius: 2px;
  color: $White;
  width: 100%;
  padding: .45rem;
  justify-content: center
}

.violet {
  background: $Violet;
}

.dark {
  background: $DarkGray
}