@import "../../../css/constants";

.blockWrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "photoBlock descriptionBlock";
  grid-column-gap: 3rem;
  @media (max-width: $smallPixelSize) {
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-template-areas:
    "photoBlock"
    "descriptionBlock";
  }
}

.photoBlock {
  grid-area: photoBlock;
}

.descriptionBlock {
  grid-area: descriptionBlock;
}