@import "../../../css/colors";
@import "../../../css/constants";


.productNavigationWrap {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-end;
  @media (max-width: $smallPixelSize) {
    justify-content: start;
  }
}

.linkWrap {
  display: flex;
  align-items: center;
  font-size: 0.825rem;
  color: $DarkGray;
  @media (max-width: $smallPixelSize) {
    margin-left: 0.75rem;
  }
}