@import "../../../css/colors";
@import "../../../css/animations";

.container {
  padding: 0.5rem;
  margin-bottom: 2rem;
  animation: fade 1s;
}

.green {
  background-color: $Green;
}

.red {
  background-color: $Red;
}

.wrap {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 0.5rem;
  color: $White;
  border: 1px solid $White;
}