@import "../../../../css/colors";
@import "../../../../css/fonts";


.wrapper {
  color: $White;
  @extend .CondensedBoldFont;
  background: $DarkGray;
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  position: absolute;

  &::after {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    bottom: -1rem;
    border: .5rem solid transparent;
    border-top: .5rem solid $DarkGray;
  }
}