@import "../../../css/colors";

.icon {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: $FooterSpecialGray;
  font-size: 1.5rem;
  padding: 0.25rem;
  transition: 0.5s;

  &:hover {
    color: $Violet;
  }
}

.light {
  font-size: 1.875rem;
  padding: 0.425rem;
  @extend .icon;
  border-radius: 50%;
  color: $DarkerGray;
  background-color: $FooterHeaderGray;
}