@import '../../../css/colors';
@import '../../../css/constants';
@import '../../../css/fonts';

.link {
  height: auto;
  display: flex;
  align-items: center;
  padding: 0 1.2rem 0 1.2rem;
  text-transform: uppercase;

  &:hover {
    color: $Violet;
    background-color: $Smoke;
  }

  @media (max-width: $smallPixelSize) {
    font-family: $Condensed;
    font-weight: normal;
    font-size: 1.1rem;
    padding: 0.8rem;
    border-bottom: 1px solid #EEE;
  }

}


.selected {
  .activeLink {
    border-bottom: $DarkGray solid 2px;
  }

  @media (max-width: $smallPixelSize) {
    .activeLink {
      border-bottom: none;
    }
    border-left: $DarkGray solid 4px;
  }
}

