 @import '../../../css/colors';


.link{
  height: auto;
  display: flex;
  align-items: center;
  padding: 0 1.2rem 0 1.2rem;
  text-transform: uppercase;
  &:hover{
    color: $Violet;
    background-color: $Smoke;
  }

}

 .selected{
   .activeLink{
     border-bottom: $DarkGray solid 2px;
   }
 }

