@import "../../css/grid";
@import "../../css/constants";


.container {
  @extend .contentContainer;
  padding: 2rem 0;
}

.header {
  margin-top: 2rem;
  @extend .padding;
}

.padding {
  @media (max-width: $mediumPixelSize) {
    padding: 0 1rem;
  }
}

.similar {
  margin-top: 1rem;
  @extend .padding;
}