@import "../../../css/fonts";
@import "../../../css/colors";


.wrapper {
  position: relative;
  color: $DarkGray;
  @extend .CondensedLightFont;
}

.photo {
  width: 100%;
}

.name {
  font-size: 1.1rem;

  &:hover {
    text-decoration: underline;
  }
}

.addButton {
  position: relative;

  &:hover {
    .tooltip {
      visibility: visible;
      opacity: 1;
    }
  }
}

.circle {
  position: absolute;
  right: 0;
  top: 0;
  font-weight: 400;
  font-size: 0.85rem;
  background: $DarkGray;
  color: $White;
  width: 3rem;
  height: 3rem;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip {
  font-size: 0.8rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s;
  white-space: nowrap;
  text-transform: uppercase;
  background-color: $DarkerGray;
  @extend .CondensedFont;
  color: $White;
  padding: 0.25rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 95%;
  z-index: 11;


  &::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
  }

  .greenTooltip & {
    border-color: transparent transparent transparent $Green;

  }

}

.greenTooltip {
  background: $Green;

  &::after {
    border-color: transparent transparent transparent $Green;
  }
}

.icon {
  font-size: 2rem;
  animation: addingAnimation 2s;
}

.category {
  color: $SubHeaderGray;
  font-size: 0.9rem;

  &:hover {
    text-decoration: underline;
  }
}

.addedIcon {
  color: $Green;
}

@keyframes addingAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.price {
  color: $DarkerGray;
}

.oldPrice {
  color: $SubHeaderGray;
  font-size: 0.9rem;
  text-decoration: line-through;
  margin-right: 0.5rem;
}

.nameAddRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.priceRow {
  display: flex;
  align-items: baseline;
  margin-top: 0.5rem;
}

