@import "../../../css/fonts";
@import "../../../css/colors";


.wrapper {
  color: $DarkGray;
  @extend .CondensedLightFont;
}

.photo {
  width: 100%;
}

.name {
  font-size: 1.1rem;

  &:hover {
    text-decoration: underline;
  }
}

.addButton {

}

.icon {
  font-size: 2rem;
}

.category {
  color: $SubHeaderGray;
  font-size: 0.9rem;

  &:hover {
    text-decoration: underline;
  }
}

.price {

}

.oldPrice {
  color: $SubHeaderGray;
  font-size: 0.9rem;
  text-decoration: line-through;
  margin-right: 0.5rem;
}

.nameAddRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.priceRow {
  display: flex;
  align-items: baseline;
  margin-top: 0.5rem;
}