@import "../../../css/constants";


.wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  @media (max-width: $largePixelSize) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  @media (max-width: $smallPixelSize) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}