@import "../../../../css/colors";
@import "../../../../css/fonts";


.row {
  @extend .CondensedLightFont;
  font-size: 0.95rem;
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 5fr 1fr;
  grid-column-gap: 1rem;
  align-items: center;
  border-bottom: 1px solid $SmokeTwo;

  &:hover {
    background: $DarkWhite;
  }
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.image {
  width: 3rem;
  box-shadow: 0 0 0 1px $OneMoreGray;
}

.name {

}

.sub {
  font-size: 0.825rem;
  color: $DarkGray;
}

.subText {
  color: $SubHeaderGray;
}

.price {
  color: $DarkGray;
}
