@import '../../../css/colors';


.wrap {
  height: auto;
  display: flex;
  align-items: center;
  padding: 0 0.6rem 0 0.6rem;
}

.icon {
  font-size: 2rem;

  &:hover {
    color: $Violet;
    cursor: pointer;
  }
}