@import '../../css/colors';
@import '../../css/fonts';
@import '../../css/constants';
@import '../../css/grid';


.headerWrapper{
  background-color: $DarkGray;
  color: $Gray;
  @media (max-width: $smallPixelSize) {
    display: none;
  }
}

.header {
  display: flex;
  padding: 0.75em 0 0.75em 0;
  @extend .CondensedFont;
  font-size: 0.8em;
  white-space: pre-wrap;
}



a:hover {
  color: $White;
}