@import "../../css/constants";


.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  @media (max-width: $smallPixelSize) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 1.5rem;
  }
}

