@import "../../css/grid";

.contactContainer {
  @extend .contentContainer;
  padding: 2rem 0;
  display: grid;
  grid-column-gap: 2rem;
  grid-template-columns: 2fr 1fr;
  @media (max-width: $smallPixelSize) {
    padding: 2rem 1rem;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
  }
}