$DarkGray: #222222;
$DarkerGray: #333333;
$StrangeGray: #555;
$Gray: #AFAFAF;
$SubHeaderGray: #888888;
$Smoke: #f7f7f7;
$White: #ffffff;
$Black: #000000;
$Violet: #7b599b;
$LightShadow: rgba(0, 0, 0, 0.05);
