$DarkGray: #222222;
$DarkerGray: #333333;
$StrangeGray: #555;
$Gray: #AFAFAF;
$GrayThree: #e8e8e8;
$SubHeaderGray: #888888;
$OneMoreGray: #ebebeb;
$Smoke: #f7f7f7;
$SmokeTwo: #f3f3f3;
$White: #ffffff;
$DarkWhite: #FBFBFB;
$Black: #000000;
$Violet: #7b599b;
$LightShadow: rgba(0, 0, 0, 0.05);
$Green: #0fbd71;
$FooterGray: #959595;
$FooterHeaderGray: #EEEEEE;
$FooterSpecialGray: #3a3a3a;

