$DarkGray: #222222;
$DarkerGray: #333333;
$StrangeGray: #555;
$Gray: #AFAFAF;
$GrayThree: #e8e8e8;
$SubHeaderGray: #888888;
$OneMoreGray: #ebebeb;
$Smoke: #f7f7f7;
$SmokeTwo: #f3f3f3;
$SmokeThree: #f5f5f5;
$SmokeFour: #f6f6f6;
$White: #ffffff;
$DarkWhite: #FBFBFB;
$Black: #000000;
$Violet: #7b599b;
$LightShadow: rgba(0, 0, 0, 0.05);
$Green: #0fbd71;
$Yellow: #ffd700;
$FooterGray: #959595;
$FooterHeaderGray: #eeeeee;
$FooterSpecialGray: #3a3a3a;
$FooterCopyRightGray: #4d4d4d;

// social colors
$Facebook: #3B5998;
$Pinterest: #CC2127;
$Twitter: #55ACEE;
$Email: #FDBB30;
