@import "fonts";
@import "constants";

html, body {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  pointer-events: none;
}

a, button {
  cursor: pointer;
  transition: 0.5s;
}

* {
  box-sizing: border-box;
  font-family: inherit;
  border-radius: 0;
  color: inherit;

  &::selection {
    color: #fff;
    background: #7b599b;
  }

  //  TODO: Dev Only:
  outline: none;
}

body {
  @extend .CondensedFont;
}

.appWrap {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.mainContent {
  flex: 1 0 auto; /* 2 */
  width: 100%;

}


.hidden {
  display: none !important;

  opacity: 0;
}

button {
  background-color: inherit;
  border-width: 0;
  border-radius: 0;
  color: inherit;
}
