@import "fonts";
@import "constants";

a {
  text-decoration: none;
  color: inherit;
}

a, button {
  cursor: pointer;
  transition: 0.5s;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  border-radius: 0;

  &::selection {
    color: #fff;
    background: #7b599b;
  }

  //    TODO: Dev Only:
  outline: none;
}

.hidden {
  display: none !important;

  opacity: 0;
}

button {
  background-color: inherit;
  border-width: 0;
  border-radius: 0;
  color: inherit;
}
