@import "../../css/colors";
@import "../../css/grid";
@import "../../css/fonts";
@import "../../css/constants";


.footerWrap {
  padding: 2rem 0;
  background: $DarkGray;
  color: $FooterGray;
  font-size: 0.915rem;
  @extend .CondensedLightFont;
}


.bottomBorder {
  border-bottom: 1px solid $FooterGray;
}

.firstRow {
  @extend .navbarContainer;
  display: grid;
  grid-template-areas:
    "hot categories brands brands help social"
    "line line line line line line"
    "links links links links logos logos";
  //@media (max-width: $smallPixelSize) {
  //  grid-template-columns: repeat(3, 1fr);
  //}
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 1rem;

  @media all and (max-width: $mediumPixelSize) {
    padding: 0 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 2rem;
    grid-template-areas:
    "hot brands brands"
    "categories help social"
    "line line line"
    "links links logos"
  }
  @media all and (max-width: $smallPixelSize) {
    padding: 0 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3rem;
    grid-template-areas:
    "hot categories"
    "brands brands"
    "help social"
    "line line"
    "links links"
    "logos logos";
  }
}

.line {
  grid-area: line;
  border-bottom: 1px solid $FooterSpecialGray;
  margin: 2.5rem 0;
  @media all and (max-width: $smallPixelSize) {
    margin: 0;
  }
  width: 100%;
}

.hot {
  grid-area: hot;
}

.categories {
  grid-area: categories;
}

.brands {
  grid-area: brands;

  > div:last-of-type {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  > div:first-of-type {
    @extend .bottomBorder;
  }
}

.links {
  grid-area: links;
}

.logos {
  grid-area: logos;
  display: flex;
  justify-content: space-between;
}

.copyrightLink {
  color: $FooterCopyRightGray;

  &:hover {
    text-decoration: underline;
    color: $Violet;
  }
}

.help {
  grid-area: help;
}

.social {
  grid-area: social;

  > div:last-of-type {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(6, 1fr);
  }
}