@import "../../../../css/colors";
@import "../../../../css/fonts";
@import "../../../../css/constants";


.header {
  font-size: 1.9rem;
  color: $DarkGray;
  margin: 0.5rem 0;
  @media (max-width: $smallPixelSize) {
    font-size: 1.3rem;
  }
}

.wrapper {
  @extend .CondensedLightFont;
}