@import "../../../css/colors";
@import "../../../css/fonts";

.button {
  @extend .CondensedLightFont;
  background: $DarkGray;
  font-size: inherit;
  display: flex;
  border-radius: 2px;
  color: $White;
  width: 100%;
  padding: 0.3rem .8rem;
  justify-content: center;
  align-items: center;

  &:hover {
    transition: 0s;
    filter: brightness(120%);
  }
}