@import "../../css/grid";
@import "../../css/constants";


.shopContainer {
  @extend .contentContainer;
  padding: 2rem 0;
  @media (max-width: $mediumPixelSize) {
    padding: 2rem 1rem;
  }
  display: grid;
}


.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 2rem 0;
}

.itemsContainer {
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 4rem;
  align-content: start;
  grid-template-columns: repeat(4, 1fr);
  @media (max-width: $largePixelSize) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  @media (max-width: $smallPixelSize) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

.sideBar {

}

.shopHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.headerWrap {
  flex: 1;
}


