@import "../../../css/constants";
@import "../../../css/fonts";
@import "../../../css/colors";
@import "../../../css/grid";


.abovePhoto {
  position: absolute;
  z-index: 3;
  transition: 1s;
}

.subString {
  @extend .abovePhoto;
  top: 35%;
  font-size: 2.5rem;
  @extend .CondensedLightFont;
  @media(max-width: $smallPixelSize) {
    top: 25%;
    font-size: 2rem;
  }
  @media (max-width: $mediumPixelSize) {
    top: 30%;
  }
}

.wrapper {

}

.headlineString {
  @extend .abovePhoto;
  top: 42.5%;
  font-size: 4.5rem;
  @extend .CondensedFont;
  @media(max-width: $smallPixelSize) {
    top: 35%;
    font-size: 3.5rem;
  }
  @media (max-width: $mediumPixelSize) {
    top: 40%;
  }
}

.button {
  @extend .abovePhoto;
  top: 60%;
  font-size: 1.1rem;
  padding: 0.4rem 1.2rem;
  border: 2px solid;
  @media(max-width: $smallPixelSize) {
    font-size: 1rem;
    top: unset;
    bottom: 5%;
  }
}

.whiteText {
  color: $White;
}

.blackText {
  color: $Black;
}

.leftPosition {
  left: 15%;
}

.centerPosition {
  left: 50%;
  transform: translate(-50%, 0);
}

.rightPosition {
  right: 15%;
}


.photo {
  width: 100%;
  object-fit: none;
  height: 20rem;
  @include useMinWidthMedia(height, 24rem, 28rem, 32rem, 32rem);
}

.item {
  display: flex;
  opacity: 1;
}

.show {
  animation: animation 1s;
}

@keyframes animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}