@import "../../../css/fonts";
@import "../../../css/colors";
@import "../../../css/constants";


.itemWidth {
  width: 12rem;
  @media (max-width: $smallPixelSize) {
    width: 100%;
  }
}

.expandableBlock {
  margin-top: 0.25rem;
  position: absolute;
  right: 0;
  border: 1px solid $FooterGray;
  @extend .itemWidth;
}

.dropdown {
  position: relative;
}

.button {
  @extend .itemWidth;
  display: flex;
  align-content: center;
  justify-content: space-between;
  color: $SubHeaderGray;
  padding: 0.5rem;
  font-size: 0.915rem;
  @extend .CondensedLightFont;
  border: 1px solid $GrayThree;

  &:hover {
    border-color: $FooterGray;
  }
}

.caret {
  font-size: 1rem;
}
