@import "../../../css/colors";
@import "../../../css/grid";
@import "../../../css/constants";


.wrap {
  padding: 2.5rem;
  display: grid;
  border: 1px solid $OneMoreGray;
  box-shadow: inset 0 0 0 3px $White, inset 0 0 0 4px $OneMoreGray;
  align-items: center;
  @include useMinWidthMedia(grid-template-columns, 3fr 1fr, 4fr 1fr, 5fr 1fr, 6fr 1fr);
  @media(max-width: $smallPixelSize) {
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 0.75rem;
  }
}


