@import "../../../../css/colors";

.link {
  margin: 0 0.25rem;

  &:hover {
    color: $Violet;
  }
}

.disabled {
  color: $FooterGray;

  &:hover {
    cursor: default;
    color: $FooterGray;
  }
}