@import "../../css/colors";
@import "../../css/fonts";


.notFoundWrapper {
  @extend .CondensedLightFont;
  background: $DarkGray;
  color: $White;
  border-bottom: 1px solid $FooterSpecialGray;
  height: 100%;
  min-height: 75vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.errorIcon {
  font-size: 10rem;
  margin-bottom: 3rem;
}

.bigText {
  font-size: 3rem;
  margin-bottom: 0.75rem;
}

.subText {
  font-size: 1.3rem;
}